.hero.has-background{
    position:relative;
    overflow:hidden;
}
.hero-background{
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
/*.is-transparent{
    opacity:0.99;
}*/
.not-transparent{
    opacity: .95;
}

.workouts {
    width: 20%;
    height: 120px;
    overflow-y: scroll;
}
#workout-container {
    text-align: center;
}
.form{
    background-color: #24aee3;
}
.title{
    font-size: 100px;
    font-stretch: extra-expanded;

-webkit-text-stroke: 1px #4c494d;
	text-shadow: -1px 1px 2px #4c494d,
				  1px 1px 2px #4c494d,
				  1px -1px 0 #4c494d,
				  -1px -1px 0 #4c494d;
}
body{
    opacity: 0.75;
    background-image: url(../images/BACK.jpg);
}
#breakfast{
    background-color: #E12E4B;
    color: white;
}
#lunch{
    background-color: #F8981D;
    color: black;
}
#dinner{
    background-color: #F9E54E;
    color: black;
}